# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv310/
env/
venv/
ENV/
env.bak/
venv.bak/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Ignore your specific project venv
.venv310/
